.map-container {
  cursor: crosshair;
}


.worldmap-label:hover {
  cursor: crosshair;
}

.worldmap-icon-marker {
  background: none !important;
  border: none !important;
}

.worldmap-icon-marker:hover {
  cursor: crosshair;
}

.quest-pin-marker {
  background: none !important;
  border: none !important;
  /* box-shadow: 0 0 0 1px white; */
}

.quest-pin-marker:hover {
  cursor: crosshair;
}

.map-layer-toggles {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1000;
  background: rgba(22, 23, 24, 0.9);
}

.coord-viewer {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1000;
  background: rgba(22, 23, 24, 0.9);
}